header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 32px;
    font-weight: 800;
    cursor: pointer;
}

img{
    height: 28px;
    cursor: pointer;
}

@media (max-width:750px) {
    .logo{
        font-size: 26px;
    }
    img{
        height: 24px;
    }
}


@media (max-width:450px) {
    .logo{
        font-size: 22px;
    }
    img{
        height: 22px;
    }
}