<footer class="overall-padding">
  <div class="logo-cta">
    <a href="#title" class="logo">[MA]</a>
    <div class="links">
      <a href="https://www.linkedin.com" target="_blank">
        <img src="assets/iconAll/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://github.com" target="_blank">
        <img src="assets/iconAll/github.png" alt="GitHub" target="_blank" />
      </a>
      <a href="mailto:me@example.com">
        <img src="assets/iconAll/email.png" alt="Email" target="_blank" />
      </a>
    </div>
  </div>
  <div class="logo-cta">
    <div  class="name">© Muhammed Akbas</div>
    <div>
      <a href="">legal notice</a>
    </div>
  </div>
</footer>
