.content {
  margin-top: 300px;
  display: flex;
  align-items: center;
}

.content .border {
  position: relative;
  top: 0;
  right: 0;
  transition: all 225ms ease-in-out; /* Übergangseffekt hinzugefügt */
}

.content:hover .border {
  top: 20px;
  right: 20px;
}

.img {
  height: 400px;
  position: absolute;
}



.border {
  height: 400px;
  position: relative;
}

.d-flex {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 800;
  font-size: 55px;
}

.gap {
  gap: 30px;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
  margin-bottom: 100px;
}

p {
  width: 60%;
  font-size: 22px;
}

button {
  cursor: pointer;
  font-family: Overpass;
  border: 3px solid black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  padding: 20px 40px;
  transition: padding 0.3s ease;

  &:hover {
    padding: 20px 60px;
  }
}

.margin {
  margin-left: 7vw;
  margin-top: 50px;
}


@media (max-width:1250px) {
  .content{
    flex-direction: column-reverse;
  }
  .margin{
    margin-left: unset;
  }
  .center-repsonsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}