<div class="content d-flex gap overall-margin">
  <div>
    <h1>About Me</h1>
    <p>
      I am a Front-end developer based Hannover, Germany. I enjoy helping
      designers and companies bring their ideas into real life. I am looking
      forward to continuing my developer career with a job in a junior web
      developer position. <br><br> If you think I’d be a good match for your projects,
      contact me!
    </p>
    <div class="d-flex margin"><button>Let's Talk!</button></div>
  </div>
  <div>
    <img class="img pos-abs" src="assets/img/pb1.png" alt="">
    <img class="border" src="assets/img/rect.png" alt="">
  </div>
  
</div>
<div class="arrow"><img src="/assets/icons/arrowLeft.png" alt=""></div>


