<div class="contact">

  <div class="cta">
    <h1>Say Hi !</h1>
  </div>

  <div class="fill-info">
    <h2>Want to discuss a project?</h2>
    <div>Say hello! let's discuss your ideas and make it happen</div>
    <div class="input-fields">
      <input placeholder="Your name" type="text" />
      <input placeholder="Your email" type="text"/>
      <textarea
        placeholder="Your message"
        name=""
        id=""
        cols="30"
        rows="10"
      ></textarea>
    </div>
    <div class="d-flex privacy">
      <input class="check-box" type="checkbox" id="" name="" value="false" />
      <div>I've read the</div>
      <a routerLink="/home" class="privacy-font">privacy policy</a>
      <div>and agree to the processing of my data as outlined.</div>
    </div>
    <div class="btn-div">
      <button >Send message</button>
    </div>
  </div>
  
</div>
