<div class="contact">
  <div class="cta">
    <h1>Say Hi !</h1>
  </div>

  <form (submit)="sendMail($event)" [formGroup]="form" class="fill-info" action="https://formspree.io/f/mqkvnvkj"
    method="POST">
    <h2>Want to discuss a project?</h2>
    <div>Say hello! Let's discuss your ideas and make it happen.</div>
    <div class="input-fields">
      <input placeholder="Your name" formControlName="name" type="text" name="name" />
      <div class="alert" *ngIf="submitted && form.get('name').hasError('required')">
        Name is required
      </div>
      <input placeholder="Your email" formControlName="email" type="email" name="email" />
      <div class="alert" *ngIf="submitted && form.get('email').hasError('required')">
        Email is required
      </div>
      <div class="alert" *ngIf="submitted && form.get('email').hasError('email')">
        Invalid email format
      </div>
      <textarea placeholder="Your message" formControlName="message" name="message" id="" cols="30"
        rows="10"></textarea>
      <div class="alert" *ngIf="submitted && form.get('message').hasError('required')">
        Message is required
      </div>


    </div>

    <!-- Display validation error messages -->
    <div class="parent">
      <div class="d-flex privacy">
        <input class="check-box" type="checkbox" formControlName="privacy" id="" name="" value="false" />
        <div>I've read the</div>
        <a routerLink="/home" class="privacy-font">privacy policy</a>
        <div>and agree to the processing of my data as outlined.</div>
      </div>
      <div class="alert child" *ngIf="submitted && form.get('privacy').value === false">
        Privacy consent is required
      </div>
    </div>

    <div class="pos-rel">

      <div class="btn-div">
        <button class="btn" type="submit">Send message</button>
      </div>

      <div class="notification">
        <h4>Message Sent!</h4>
        <p>Thank you for getting in touch. <br> We'll be in contact shortly.</p>
      </div>

    </div>

  </form>
</div>