.contact {
  background-image: url("^assets/covers/footer.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.alert {
  color: rgba(214, 29, 29, 0.737) !important;
  font-size: 15px !important;
}
.cta {
  z-index: 99;
  padding: 100px 10vw;
  padding-bottom: 50px;

  h1 {
    font-weight: 800;
    font-size: 50px;
    color: white;
  }
}
.btn {
  color: white !important;
}
.alerty {
  color: rgba(214, 29, 29, 0.737) !important;
  font-size: 15px !important;
}
.pos-rel {
  position: relative;
}

.notification {
  opacity: 0;
  transition: 325ms ease-out;
  position: absolute;
  z-index: -10;
  bottom: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5988ff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h4 {
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 22px;
    width: 200px;
  }
  p {
    font-size: 16px;
  }
}
.parent {
  position: relative;
}
.child {
  position: absolute !important;
  left: 0px;
  top: 67px;
}
h2 {
  font-size: 38px;
  color: #5988ff;
}

.fill-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    font-size: 28px;
    color: white;
  }
}

.input-fields {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
textarea {
  height: 100px;
  min-width: 640px;
  max-width: 640px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid white;
  background: transparent;
  transition: border 0.3s ease; /* Fügt eine glatte Animation hinzu */
  padding: 5px;
  color: white;

  &:hover {
    border: 3px solid white;
  }
}
.input-fields input {
  height: 40px;
  width: 640px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid white;
  background: transparent;
  transition: border 0.3s ease; /* Fügt eine glatte Animation hinzu */
  padding: 5px;
  color: white;
  position: relative;
}

.msg {
  position: relative;
  height: 100px !important;
  input {
    position: absolute;
    top: 10px;
  }
}

.input-fields input:hover {
  border: 3px solid white; /* Ändert den Rahmen bei Hover */
}

.d-flex {
  display: flex;
  align-items: center;

  gap: 5px;
}
.check-box {
  width: 20px;
  height: 20px;
}
.privacy {
  margin-top: 30px;

  div {
    font-size: 18px;
  }
}

.privacy-font {
  font-size: 18px;
  text-decoration: none;
  color: #5988ff !important;
}
.btn-div {
  margin-top: 70px;

  button {
    cursor: pointer;
    font-family: Overpass;
    border: 3px solid rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    background-color: transparent;
    padding: 20px 40px;
    transition: padding 0.5s ease;
    color: white;

    &:hover {
      padding: 20px 65px;
      color: white;
    }
  }
}

@media (max-width: 1300px) {
  .contact {
    background-size: cover 100%;
  }
}

@media (max-width: 750px) {
  .cta h1 {
    font-size: 38px;
  }
  .fill-info h2 {
    font-size: 28px;
  }
  .fill-info div {
    font-size: 18px;
  }
  .input-fields input {
    width: 420px;
  }
  textarea {
    min-width: 420px;
    max-width: 420px;
  }
  .privacy div {
    font-size: 12px;
  }
  .privacy a {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .cta h1 {
    font-size: 32px;
  }
  .fill-info h2 {
    font-size: 22px;
  }
  .fill-info div {
    font-size: 14px;
  }
  .input-fields input {
    width: 300px;
  }
  textarea {
    min-width: 300px;
    max-width: 300px;
  }
  .privacy div {
    font-size: 12px;
  }
  .privacy a {
    font-size: 12px;
  }
  .d-flex {
    flex-wrap: wrap;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  button {
    font-size: 16px !important;
    padding: 18px 35px !important;
  }
}

@media (max-width: 450px) {
  .child {
    position: absolute !important;
    left: 39px !important;
    top: 107px;
  }
}
