<div id="menu">
  <div id="links">
    <a href="#aboutMe">About Me</a>
    <a href="#mySkills">My Skills</a>
    <a href="#portfolio">Portfolio</a>
  </div>

  <div class="footer">
    <div class="space-between">
      <div class="d-flex column">
        <h1>Say Hi !</h1>
        <div class="d-flex center copy">
          <div class="email">muhammed@gmail.com</div>
          <img src="assets/iconAll/svg.png" alt="" />
        </div>
      </div>
      <div class="icons">
        <img src="assets/iconAll/linkedin.png" alt="" />
        <img src="assets/iconAll/github.png" alt="" />
        <img src="assets/iconAll/email.png" alt="" />
      </div>
    </div>
  </div>
</div>
