.box {
  margin: 30px 10vw;
  border: 4px solid black;
  padding: 140px 100px 100px 100px;

  gap: 100px;
}

.icons-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
}
h1 {
  font-size: 55px;
  font-weight: 800;
  background-color: #fffcf3;
  padding-left: 50px;
  padding-right: 50px;
  &:hover{
    color: #5988ff;
    cursor: pointer;
  }
}

.mySkills {
display: flex;
justify-content: center;
margin-bottom: -100px;
  
 
}
.margin-T {
  margin-top: 50px;
}
.one-icon {
  cursor: pointer;

  div {
    text-align: center;
    font-weight: 500;
  }
}

.one-icon:hover div {
  color: #5988ff;
}

.one-icon svg {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }
}

@media (max-width:750px) {
  .box{
    padding: 110px 50px 80px 50px;
  }
  .margin-T img {
    height: 170px;
    margin-left: 15px;
  }
  h1{
    font-size: 48px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mySkills{
    margin-bottom: -90px;
  }
}

@media (max-width:525px) {
  h1{
    font-size: 38px;
  }

  .mySkills{
    margin-bottom: -80px;
  }
  .one-icon svg {
    height: 65px;
  }
  .icons-div{
    gap: 80px;
  }
  .margin-T img {
    height: 120px;
    
  }
  .box{
    padding: 70px 10px 70px 10px;
  }
  
}

@media (max-width:450px) {
  h1{
    font-size: 32px;
  }

  .mySkills{
    margin-bottom: -70px;
  }
  .one-icon svg {
    height: 55px;
  }

  .one-icon div {
    font-size: 14px;
  }
  .icons-div{
    gap: 80px;
  }
  .margin-T img {
    height: 120px;
    
  }
  
}