<div class="title">
  <h1>Portfolio</h1>
  <div>
    This page is a sample of my work - please feel free to try them out.
  </div>
</div>

<div>
  <div class="d-flex margin-T">
    <div><img src="assets/covers/join.png" alt="" /></div>
    <div>
      <div class="counter">01/05</div>
      <h2>Join</h2>
      <div class="languages">HTML | CSS | JS</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        placeat molestias minima voluptas totam, quia quod ipsa quas architecto
        magnam? Cum reprehenderit fugiat tempore atque aliquam repellendus
        exercitationem placeat ullam?
      </p>
      <div class="d-flexG">
        <button>Live</button>
        <button>GitHub</button>
      </div>
    </div>
    <div class="abs"><img src="assets/img/rectA.png" alt="" /></div>
  </div>

  <div class="d-flex margin-T reverse">
    <div><img src="assets/covers/Pokedex.png" alt="" /></div>
    <div>
      <div class="counter-reverse">02/05</div>
      <h2>Pokédex</h2>
      <div class="languages">HTML | CSS | JS</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        placeat molestias minima voluptas totam, quia quod ipsa quas architecto
        magnam? Cum reprehenderit fugiat tempore atque aliquam repellendus
        exercitationem placeat ullam?
      </p>
      <div class="d-flexG">
        <button>Live</button>
        <button>GitHub</button>
      </div>
    </div>
    <div class="abs"><img src="assets/img/rectA.png" alt="" /></div>
  </div>

  <div class="d-flex margin-T">
    <div><img src="assets/covers/crm.png" alt="" /></div>
    <div>
      <div class="counter">03/05</div>
      <h2>Simple CRM</h2>
      <div class="languages">HTML | CSS | JS</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        placeat molestias minima voluptas totam, quia quod ipsa quas architecto
        magnam? Cum reprehenderit fugiat tempore atque aliquam repellendus
        exercitationem placeat ullam?
      </p>
      <div class="d-flexG">
        <button>Live</button>
        <button>GitHub</button>
      </div>
    </div>
    <div class="abs"><img src="assets/img/rectA.png" alt="" /></div>
  </div>

  <div class="d-flex margin-T reverse">
    <div><img src="assets/covers/samurai.png" alt="" /></div>
    <div>
      <div class="counter-reverse">04/05</div>
      <h2>The Last Samurai</h2>
      <div class="languages">HTML | CSS | JS</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        placeat molestias minima voluptas totam, quia quod ipsa quas architecto
        magnam? Cum reprehenderit fugiat tempore atque aliquam repellendus
        exercitationem placeat ullam?
      </p>
      <div class="d-flexG">
        <button>Live</button>
        <button>GitHub</button>
      </div>
    </div>
    <div class="abs"><img src="assets/img/rectA.png" alt="" /></div>
  </div>
</div>
<div class="arrow"><img src="assets/icons/arrowLeft.png" alt=""></div>
