.title {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  div {
    font-size: 22px;
  }
}

h1 {
  font-weight: 800;
  font-size: 55px;
}

img {
  height: 400px;
}
.d-flex {
  display: flex;
  gap: 120px;
}
.margin-T {
  margin-top: 250px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}
.counter {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 32px;
  color: #5988ff;
}
.counter-reverse {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 32px;
  color: #5988ff;
}

h2 {
  font-weight: 800;
  font-size: 44px;
}

.languages {
  color: #5988ff;
  font-weight: 500;
  font-size: 26px;
}

button {
  cursor: pointer;
  font-family: Overpass;
  border: 3px solid black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  padding: 20px 40px;
  transition: padding 0.3s ease;

  &:hover {
    padding: 20px 60px;
  }
}

.d-flexG {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.arrow {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
  img {
    height: auto !important;
  }
}

.abs {
  z-index: 99999;
  position: absolute;
  cursor: pointer;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}

.infos-left {
  position: relative;
  left: -600px;
  opacity: 0;
}

.infos-right {
  position: relative;
  right: -300px;
  opacity: 0;
}

.img-div {
  z-index: 90;
  position: relative;
}

.abs {
  z-index: 99;
  position: absolute;
  top: 0;
}

.img {
  filter: grayscale(100%);
}

.project-div:hover .img {
  filter: grayscale(0%);
}
.project-div .abs {
  position: absolute; /* Oder "fixed", je nach Bedarf */
  top: 0; /* Startposition oben */
  left: 0; /* Startposition links */
  transition: all 225ms ease-in-out; /* Animationsdauer und Easing-Funktion */
}

.project-div:hover .abs {
  top: 25px; /* Endposition unten */
  left: 25px; /* Endposition rechts */
}

.project-div .abs-reverse {
  position: absolute; /* Oder "fixed", je nach Bedarf */
  top: 0; /* Startposition oben */
  right: 0; /* Startposition links */
  transition: all 225ms ease-in-out; /* Animationsdauer und Easing-Funktion */
}

.project-div:hover .abs-reverse {
  top: 25px; /* Endposition unten */
  right: 25px;
}

.show {
  transition: all 425ms ease-in-out;
  position: relative;
  left: 150px;
  opacity: 1;
  z-index: 2;
}

.show-right {
  transition: all 425ms ease-in-out;
  position: relative;
  right: 260px;
  opacity: 1;
  z-index: 2;
}
