body {
    margin: 0;
    padding: 0;
    background-color: #FFFCF3;
    font-family: 'Syne', sans-serif;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
    
}
.overall-margin{
    margin: 30px 10vw;
}

.overall-padding{
    padding: 30px 10vw;
}

button{
    color: black !important;
}

@media (max-width:1000px) {
    .overall-margin{
        margin: 30px 5vw;
    }
    .overall-padding{
        padding: 30px 5vw;
    }
}

h1{
    &:hover{
        color:#5988FF !important;
    }
}